<h1>Doctors#show</h1>


<%= @doctor.name %><br>
<%= @doctor.department %><br>
<% @doctor.appointments.each do |appt|%>
<p><%= appt.display_date_and_time %></p>
<%= link_to "#{appt.patient.name}", patient_path(appt.patient) %>
<% end %>
