<h1> Appointment's Date: <%=@appointment.appointment_datetime.strftime(" %B %d, %Y at %k:%M")%></h1>

<h3>Doctor: <%=link_to @appointment.doctor_name, doctor_path(@appointment.doctor.id)%></h3> 
<h3>Patient: <%= link_to @appointment.patient_name, patient_path(@appointment.patient.id)%></h3> 
